[run]
omit =
    ./manage.py
    nexus/*/migrations/*
    */tests/*
    */__init__.py
    Dockerfile
    */settings.py
    */apps.py
    nexus/wsgi.py
    nexus/event_driven/*
    nexus/orgs/consumers/*
    */handle.py
    nexus/asgi.py
    nexus/conftest.py
    nexus/task_managers/file_database/*
    nexus/authentication/authentication.py
    router/clients/*
    router/main.py
    router/management/commands/runapi.py
    nexus/internals/flows.py
    */tests.py
    */views.py
    */middleware.py
    */mocks.py
    nexus/projects/tests/test_permissions.py
    nexus/actions/tests.py
    inline_agents/backends/bedrock/*
    nexus/inline_agents/backends/bedrock/*

[report]
fail_under = 50
skip_empty = true
