[run]
omit =
    ./manage.py
    nexus/*/migrations/*
    */tests/*
    */__init__.py
    Dockerfile
    */settings.py
    */apps.py
    nexus/wsgi.py
    nexus/event_driven/*
    nexus/orgs/consumers/*
    */handle.py
    nexus/asgi.py
    nexus/conftest.py
    nexus/task_managers/file_database/*
    nexus/authentication/authentication.py

[report]
fail_under = 75
skip_empty = true