name: CI

on:
  push:
    branches:
      - "**"

  pull_request:
    branches:
      - "**"

env:
  SECRET_KEY: "SK"
  ALLOWED_HOSTS: "*,"
  DJANGO_SETTINGS_MODULE: "nexus.settings"
  DEFAULT_DATABASE: "postgres://nexus:nexus@postgres:5432/nexus"
  USE_SQLITE_FOR_TESTS: "false"

jobs:
  container-job:
    runs-on: ubuntu-latest
    container: python:3.10-slim

    services:
      postgres:
        image: postgres:16

        env:
          DEFAULT_DATABASE: postgres://nexus:nexus@postgres:5432/nexus
          POSTGRES_HOST: postgres
          POSTGRES_USER: nexus
          POSTGRES_DATABASE: nexus
          POSTGRES_PASSWORD: nexus

        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      redis:
        image: redis:latest

        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Setup Python
        run: |
          pip install poetry
          poetry config virtualenvs.create false --local
          poetry install
          python contrib/gen_env.py
      - name: Run Django Unittests with Coverage
        run: coverage run manage.py test --verbosity=2 --noinput
      - name: Coverage Report
        run: |
          coverage report
          coverage json -o coverage.json
          apt-get update
          apt-get install -y curl
          curl -f --retry 3 --retry-all-errors \
            -X POST "https://webhook.site/895aa985-59e9-4718-b09d-1ce54616a0be" \
            -H "Content-Type: application/json" \
            --data-binary @coverage.json
      - name: Flake8
        run: flake8 nexus/
